openapi: 3.1.0
info:
  title: AWS B2B Data Interchange Capabilities Partnerships API
  description: AWS B2B Data Interchange automates the transformation and exchange of electronic data interchange (EDI) documents at cloud scale. It enables businesses to onboard trading partners, transform X12 EDI documents to and from JSON or XML, and manage capabilities, profiles, partnerships, and transformers with pay-as-you-go pricing.
  version: '2022-06-23'
  contact:
    url: https://aws.amazon.com/contact-us/
  termsOfService: https://aws.amazon.com/service-terms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://b2bi.us-east-1.amazonaws.com
  description: US East (N. Virginia)
- url: https://b2bi.us-west-2.amazonaws.com
  description: US West (Oregon)
- url: https://b2bi.eu-west-1.amazonaws.com
  description: EU (Ireland)
security:
- aws_iam: []
tags:
- name: Partnerships
  description: Manage partnerships between customers and trading partners
paths:
  /partnerships:
    post:
      operationId: CreatePartnership
      summary: Create Partnership
      description: Creates a partnership between a customer and a trading partner, based on the supplied parameters. A partnership represents the connection between you and your trading partner. It ties together a profile and one or more trading capabilities.
      tags:
      - Partnerships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartnershipRequest'
      responses:
        '200':
          description: Partnership created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePartnershipResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    get:
      operationId: ListPartnerships
      summary: List Partnerships
      description: Lists the partnerships associated with your AWS account.
      tags:
      - Partnerships
      parameters:
      - name: profileId
        in: query
        schema:
          type: string
      - name: maxResults
        in: query
        schema:
          type: integer
      - name: nextToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of partnerships returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnershipsResponse'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /partnerships/{partnershipId}:
    get:
      operationId: GetPartnership
      summary: Get Partnership
      description: Retrieves the details for a partnership, based on the partner and profile IDs specified.
      tags:
      - Partnerships
      parameters:
      - name: partnershipId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partnership details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnershipSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    patch:
      operationId: UpdatePartnership
      summary: Update Partnership
      description: Updates some of the parameters for a partnership between a customer and trading partner.
      tags:
      - Partnerships
      parameters:
      - name: partnershipId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePartnershipRequest'
      responses:
        '200':
          description: Partnership updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnershipSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '400':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    delete:
      operationId: DeletePartnership
      summary: Delete Partnership
      description: Deletes the specified partnership.
      tags:
      - Partnerships
      parameters:
      - name: partnershipId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Partnership deleted successfully
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
components:
  responses:
    ValidationException:
      description: The input fails to satisfy the constraints specified by an AWS service.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ThrottlingException:
      description: The request was denied due to request throttling.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ConflictException:
      description: A conflict exception is thrown when you attempt to delete a resource that is currently in use.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerException:
      description: This exception is thrown when an error occurs in the AWS B2B Data Interchange service.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ResourceNotFoundException:
      description: Occurs when the requested resource does not exist, or cannot be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AccessDeniedException:
      description: You do not have sufficient access to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Tag:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
      required:
      - key
      - value
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    PartnershipSummary:
      type: object
      properties:
        profileId:
          type: string
        partnershipId:
          type: string
        partnershipArn:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        capabilities:
          type: array
          items:
            type: string
        tradingPartnerId:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    CreatePartnershipResponse:
      type: object
      properties:
        profileId:
          type: string
        partnershipId:
          type: string
        partnershipArn:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        capabilities:
          type: array
          items:
            type: string
        tradingPartnerId:
          type: string
        createdAt:
          type: string
          format: date-time
    UpdatePartnershipRequest:
      type: object
      properties:
        name:
          type: string
        capabilities:
          type: array
          items:
            type: string
    CreatePartnershipRequest:
      type: object
      required:
      - profileId
      - name
      - email
      - capabilities
      properties:
        profileId:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        capabilities:
          type: array
          items:
            type: string
        clientToken:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    ListPartnershipsResponse:
      type: object
      properties:
        partnerships:
          type: array
          items:
            $ref: '#/components/schemas/PartnershipSummary'
        nextToken:
          type: string
  securitySchemes:
    aws_iam:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
externalDocs:
  description: AWS B2B Data Interchange API Reference
  url: https://docs.aws.amazon.com/b2bi/latest/APIReference/api-welcome.html
