openapi: 3.1.0
info:
  title: AWS B2B Data Interchange API
  description: >-
    AWS B2B Data Interchange automates the transformation and exchange of
    electronic data interchange (EDI) documents at cloud scale. It enables
    businesses to onboard trading partners, transform X12 EDI documents to
    and from JSON or XML, and manage capabilities, profiles, partnerships,
    and transformers with pay-as-you-go pricing.
  version: '2022-06-23'
  contact:
    url: https://aws.amazon.com/contact-us/
  termsOfService: https://aws.amazon.com/service-terms/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
externalDocs:
  description: AWS B2B Data Interchange API Reference
  url: https://docs.aws.amazon.com/b2bi/latest/APIReference/api-welcome.html
servers:
  - url: https://b2bi.us-east-1.amazonaws.com
    description: US East (N. Virginia)
  - url: https://b2bi.us-west-2.amazonaws.com
    description: US West (Oregon)
  - url: https://b2bi.eu-west-1.amazonaws.com
    description: EU (Ireland)
tags:
  - name: Profiles
    description: Manage customer profiles representing private networks
  - name: Partnerships
    description: Manage partnerships between customers and trading partners
  - name: Capabilities
    description: Manage EDI transformation capabilities
  - name: Transformers
    description: Manage EDI transformers for document conversion
  - name: Testing
    description: Test and validate mappings, parsing, and conversions
  - name: Tags
    description: Manage resource tags
paths:
  /profiles:
    post:
      operationId: CreateProfile
      summary: Create Profile
      description: >-
        Creates a customer profile. A profile is the system-side resource that
        represents your EDI sender or receiver entity. It stores your business
        name, email, phone, and logging configuration. You can create up to
        5 profiles per account.
      tags:
        - Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '200':
          description: Profile created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProfileResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    get:
      operationId: ListProfiles
      summary: List Profiles
      description: Lists the profiles associated with your AWS account.
      tags:
        - Profiles
      parameters:
        - name: maxResults
          in: query
          schema:
            type: integer
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of profiles returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProfilesResponse'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /profiles/{profileId}:
    get:
      operationId: GetProfile
      summary: Get Profile
      description: Retrieves the details for the profile specified by the profile ID.
      tags:
        - Profiles
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    patch:
      operationId: UpdateProfile
      summary: Update Profile
      description: Updates the specified parameters for a profile.
      tags:
        - Profiles
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '400':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    delete:
      operationId: DeleteProfile
      summary: Delete Profile
      description: Deletes the specified profile. Profiles can only be deleted if no partnerships are associated with them.
      tags:
        - Profiles
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile deleted successfully
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /partnerships:
    post:
      operationId: CreatePartnership
      summary: Create Partnership
      description: >-
        Creates a partnership between a customer and a trading partner, based
        on the supplied parameters. A partnership represents the connection
        between you and your trading partner. It ties together a profile and
        one or more trading capabilities.
      tags:
        - Partnerships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartnershipRequest'
      responses:
        '200':
          description: Partnership created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePartnershipResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    get:
      operationId: ListPartnerships
      summary: List Partnerships
      description: Lists the partnerships associated with your AWS account.
      tags:
        - Partnerships
      parameters:
        - name: profileId
          in: query
          schema:
            type: string
        - name: maxResults
          in: query
          schema:
            type: integer
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of partnerships returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnershipsResponse'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /partnerships/{partnershipId}:
    get:
      operationId: GetPartnership
      summary: Get Partnership
      description: Retrieves the details for a partnership, based on the partner and profile IDs specified.
      tags:
        - Partnerships
      parameters:
        - name: partnershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Partnership details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnershipSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    patch:
      operationId: UpdatePartnership
      summary: Update Partnership
      description: Updates some of the parameters for a partnership between a customer and trading partner.
      tags:
        - Partnerships
      parameters:
        - name: partnershipId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePartnershipRequest'
      responses:
        '200':
          description: Partnership updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnershipSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '400':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    delete:
      operationId: DeletePartnership
      summary: Delete Partnership
      description: Deletes the specified partnership.
      tags:
        - Partnerships
      parameters:
        - name: partnershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Partnership deleted successfully
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /capabilities:
    post:
      operationId: CreateCapability
      summary: Create Capability
      description: >-
        Instantiates a capability based on the specified parameters. A trading
        capability contains the information required to transform incoming EDI
        documents into JSON or XML outputs.
      tags:
        - Capabilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCapabilityRequest'
      responses:
        '200':
          description: Capability created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCapabilityResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    get:
      operationId: ListCapabilities
      summary: List Capabilities
      description: Lists the capabilities associated with your AWS account.
      tags:
        - Capabilities
      parameters:
        - name: maxResults
          in: query
          schema:
            type: integer
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of capabilities returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCapabilitiesResponse'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /capabilities/{capabilityId}:
    get:
      operationId: GetCapability
      summary: Get Capability
      description: Retrieves the details for the specified capability.
      tags:
        - Capabilities
      parameters:
        - name: capabilityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Capability details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitySummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    patch:
      operationId: UpdateCapability
      summary: Update Capability
      description: Updates the specified parameters for a capability.
      tags:
        - Capabilities
      parameters:
        - name: capabilityId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCapabilityRequest'
      responses:
        '200':
          description: Capability updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitySummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '400':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    delete:
      operationId: DeleteCapability
      summary: Delete Capability
      description: Deletes the specified capability. A capability must not be associated with any partnerships to be deleted.
      tags:
        - Capabilities
      parameters:
        - name: capabilityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Capability deleted successfully
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /transformers:
    post:
      operationId: CreateTransformer
      summary: Create Transformer
      description: >-
        Creates a transformer. AWS B2B Data Interchange supports X12 EDI
        documents, allowing you to specify the direction (inbound or outbound),
        the X12 transaction set and version, and the common data representation
        format (JSON or XML).
      tags:
        - Transformers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransformerRequest'
      responses:
        '200':
          description: Transformer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTransformerResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    get:
      operationId: ListTransformers
      summary: List Transformers
      description: Lists the available transformers.
      tags:
        - Transformers
      parameters:
        - name: maxResults
          in: query
          schema:
            type: integer
        - name: nextToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of transformers returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTransformersResponse'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /transformers/{transformerId}:
    get:
      operationId: GetTransformer
      summary: Get Transformer
      description: Retrieves the details for the transformer specified by the transformer ID.
      tags:
        - Transformers
      parameters:
        - name: transformerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transformer details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformerSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    patch:
      operationId: UpdateTransformer
      summary: Update Transformer
      description: Updates the specified parameters for a transformer.
      tags:
        - Transformers
      parameters:
        - name: transformerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTransformerRequest'
      responses:
        '200':
          description: Transformer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransformerSummary'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '400':
          $ref: '#/components/responses/ValidationException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    delete:
      operationId: DeleteTransformer
      summary: Delete Transformer
      description: Deletes the specified transformer. A transformer must not be associated with any capabilities to be deleted.
      tags:
        - Transformers
      parameters:
        - name: transformerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transformer deleted successfully
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '409':
          $ref: '#/components/responses/ConflictException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /transformer-jobs:
    post:
      operationId: StartTransformerJob
      summary: Start Transformer Job
      description: >-
        Runs a job, using a transformer, to parse input EDI (electronic data
        interchange) file. The input file has a specific file size limit of
        250 MB for each supported X12 transaction set.
      tags:
        - Transformers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTransformerJobRequest'
      responses:
        '200':
          description: Transformer job started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartTransformerJobResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /transformer-jobs/{transformerJobId}:
    get:
      operationId: GetTransformerJob
      summary: Get Transformer Job
      description: Returns the details of the transformer run, based on the Transformer job ID.
      tags:
        - Transformers
      parameters:
        - name: transformerJobId
          in: path
          required: true
          schema:
            type: string
        - name: transformerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transformer job details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransformerJobResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /mappings/generate:
    post:
      operationId: GenerateMapping
      summary: Generate Mapping
      description: >-
        Takes sample input and output documents and uses Amazon Bedrock to
        generate a mapping automatically. Depending on the accuracy and
        symmetry of the input and output documents, this can generate an
        accurate mapping. Additional iterations are needed to refine the
        generated mapping.
      tags:
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateMappingRequest'
      responses:
        '200':
          description: Mapping generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateMappingResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /mappings/starter-template:
    post:
      operationId: CreateStarterMappingTemplate
      summary: Create Starter Mapping Template
      description: >-
        Amazon Web Services B2B Data Interchange uses a mapping template in
        JSONata or XSLT format to transform a customer input file into a
        JSON or XML file that can be converted to EDI.
      tags:
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStarterMappingTemplateRequest'
      responses:
        '200':
          description: Starter mapping template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStarterMappingTemplateResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /mappings/test:
    post:
      operationId: TestMapping
      summary: Test Mapping
      description: >-
        Maps the specified sample file to a given JSONata or XSLT template.
      tags:
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestMappingRequest'
      responses:
        '200':
          description: Mapping tested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMappingResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /parsings/test:
    post:
      operationId: TestParsing
      summary: Test Parsing
      description: >-
        Parses the input EDI (electronic data interchange) file. The input
        file has a specific file size limit of 250 MB.
      tags:
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestParsingRequest'
      responses:
        '200':
          description: Parsing tested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestParsingResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /conversions/test:
    post:
      operationId: TestConversion
      summary: Test Conversion
      description: >-
        This operation mimics the latter half of a typical inbound X12 EDI
        request. It takes an X12 EDI file as input, converts the file to JSON
        or XML, and returns the converted file.
      tags:
        - Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestConversionRequest'
      responses:
        '200':
          description: Conversion tested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestConversionResponse'
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
  /tags/{resourceARN}:
    get:
      operationId: ListTagsForResource
      summary: List Tags For Resource
      description: Lists all of the tags associated with the Amazon Resource Name (ARN) that you specify. The resource can be a user, role, or other resource.
      tags:
        - Tags
      parameters:
        - name: resourceARN
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tags returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsForResourceResponse'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    post:
      operationId: TagResource
      summary: Tag Resource
      description: Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN).
      tags:
        - Tags
      parameters:
        - name: resourceARN
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagResourceRequest'
      responses:
        '200':
          description: Tags added successfully
        '400':
          $ref: '#/components/responses/ValidationException'
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
    delete:
      operationId: UntagResource
      summary: Untag Resource
      description: Detaches a key-value pair from the specified resource, as identified by its Amazon Resource Name (ARN).
      tags:
        - Tags
      parameters:
        - name: resourceARN
          in: path
          required: true
          schema:
            type: string
        - name: tagKeys
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Tags removed successfully
        '403':
          $ref: '#/components/responses/AccessDeniedException'
        '404':
          $ref: '#/components/responses/ResourceNotFoundException'
        '429':
          $ref: '#/components/responses/ThrottlingException'
        '500':
          $ref: '#/components/responses/InternalServerException'
components:
  schemas:
    Tag:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
      required:
        - key
        - value
    S3Location:
      type: object
      properties:
        bucketName:
          type: string
        key:
          type: string
    X12Details:
      type: object
      properties:
        transactionSet:
          type: string
          description: X12 transaction set identifier (e.g., X12_110, X12_850)
        version:
          type: string
          description: X12 version (e.g., VERSION_4010, VERSION_5010)
    EdiType:
      type: object
      properties:
        x12Details:
          $ref: '#/components/schemas/X12Details'
    EdiConfiguration:
      type: object
      properties:
        capabilityDirection:
          type: string
          enum:
            - INBOUND
            - OUTBOUND
        type:
          $ref: '#/components/schemas/EdiType'
        inputLocation:
          $ref: '#/components/schemas/S3Location'
        outputLocation:
          $ref: '#/components/schemas/S3Location'
        transformerId:
          type: string
    CapabilityConfiguration:
      type: object
      properties:
        edi:
          $ref: '#/components/schemas/EdiConfiguration'
    CreateCapabilityRequest:
      type: object
      required:
        - name
        - type
        - configuration
      properties:
        name:
          type: string
        type:
          type: string
          enum:
            - edi
        configuration:
          $ref: '#/components/schemas/CapabilityConfiguration'
        instructionsDocuments:
          type: array
          items:
            $ref: '#/components/schemas/S3Location'
        clientToken:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    CreateCapabilityResponse:
      type: object
      properties:
        capabilityId:
          type: string
        capabilityArn:
          type: string
        name:
          type: string
        type:
          type: string
        configuration:
          $ref: '#/components/schemas/CapabilityConfiguration'
        createdAt:
          type: string
          format: date-time
    CapabilitySummary:
      type: object
      properties:
        capabilityId:
          type: string
        capabilityArn:
          type: string
        name:
          type: string
        type:
          type: string
        configuration:
          $ref: '#/components/schemas/CapabilityConfiguration'
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    UpdateCapabilityRequest:
      type: object
      properties:
        name:
          type: string
        configuration:
          $ref: '#/components/schemas/CapabilityConfiguration'
        instructionsDocuments:
          type: array
          items:
            $ref: '#/components/schemas/S3Location'
    ListCapabilitiesResponse:
      type: object
      properties:
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/CapabilitySummary'
        nextToken:
          type: string
    CreateProfileRequest:
      type: object
      required:
        - name
        - phone
        - businessName
        - logging
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
        businessName:
          type: string
        logging:
          type: string
          enum:
            - ENABLED
            - DISABLED
        clientToken:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    CreateProfileResponse:
      type: object
      properties:
        profileId:
          type: string
        profileArn:
          type: string
        name:
          type: string
        businessName:
          type: string
        phone:
          type: string
        email:
          type: string
        logging:
          type: string
        logGroupName:
          type: string
        createdAt:
          type: string
          format: date-time
    ProfileSummary:
      type: object
      properties:
        profileId:
          type: string
        profileArn:
          type: string
        name:
          type: string
        businessName:
          type: string
        phone:
          type: string
        email:
          type: string
        logging:
          type: string
        logGroupName:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
        businessName:
          type: string
    ListProfilesResponse:
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/ProfileSummary'
        nextToken:
          type: string
    CreatePartnershipRequest:
      type: object
      required:
        - profileId
        - name
        - email
        - capabilities
      properties:
        profileId:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        capabilities:
          type: array
          items:
            type: string
        clientToken:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    CreatePartnershipResponse:
      type: object
      properties:
        profileId:
          type: string
        partnershipId:
          type: string
        partnershipArn:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        capabilities:
          type: array
          items:
            type: string
        tradingPartnerId:
          type: string
        createdAt:
          type: string
          format: date-time
    PartnershipSummary:
      type: object
      properties:
        profileId:
          type: string
        partnershipId:
          type: string
        partnershipArn:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        capabilities:
          type: array
          items:
            type: string
        tradingPartnerId:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    UpdatePartnershipRequest:
      type: object
      properties:
        name:
          type: string
        capabilities:
          type: array
          items:
            type: string
    ListPartnershipsResponse:
      type: object
      properties:
        partnerships:
          type: array
          items:
            $ref: '#/components/schemas/PartnershipSummary'
        nextToken:
          type: string
    Mapping:
      type: object
      properties:
        templateType:
          type: string
          enum:
            - JSONATA
            - XSLT
        template:
          type: string
    CreateTransformerRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        clientToken:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        mappingTemplate:
          type: string
        ediType:
          $ref: '#/components/schemas/EdiType'
        fileFormat:
          type: string
          enum:
            - XML
            - JSON
            - NOT_USED
    CreateTransformerResponse:
      type: object
      properties:
        transformerId:
          type: string
        transformerArn:
          type: string
        name:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
    TransformerSummary:
      type: object
      properties:
        transformerId:
          type: string
        transformerArn:
          type: string
        name:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    UpdateTransformerRequest:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        mappingTemplate:
          type: string
        ediType:
          $ref: '#/components/schemas/EdiType'
        fileFormat:
          type: string
    ListTransformersResponse:
      type: object
      properties:
        transformers:
          type: array
          items:
            $ref: '#/components/schemas/TransformerSummary'
        nextToken:
          type: string
    StartTransformerJobRequest:
      type: object
      required:
        - inputFile
        - outputLocation
        - transformerId
      properties:
        inputFile:
          $ref: '#/components/schemas/S3Location'
        outputLocation:
          $ref: '#/components/schemas/S3Location'
        transformerId:
          type: string
        clientToken:
          type: string
    StartTransformerJobResponse:
      type: object
      properties:
        transformerJobId:
          type: string
    GetTransformerJobResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - running
            - succeeded
            - failed
        outputFiles:
          type: array
          items:
            $ref: '#/components/schemas/S3Location'
        message:
          type: string
    GenerateMappingRequest:
      type: object
      required:
        - inputFileContent
        - outputFileContent
        - mappingType
      properties:
        inputFileContent:
          type: string
        outputFileContent:
          type: string
        mappingType:
          type: string
          enum:
            - JSONATA
            - XSLT
    GenerateMappingResponse:
      type: object
      properties:
        mappingTemplate:
          type: string
        mappingAccuracy:
          type: number
    CreateStarterMappingTemplateRequest:
      type: object
      required:
        - mappingType
      properties:
        outputSampleLocation:
          $ref: '#/components/schemas/S3Location'
        mappingType:
          type: string
          enum:
            - JSONATA
            - XSLT
        templateDetails:
          type: object
          properties:
            x12:
              $ref: '#/components/schemas/X12Details'
    CreateStarterMappingTemplateResponse:
      type: object
      properties:
        mappingTemplate:
          type: string
    TestMappingRequest:
      type: object
      required:
        - inputFileContent
        - mappingTemplate
        - fileFormat
      properties:
        inputFileContent:
          type: string
        mappingTemplate:
          type: string
        fileFormat:
          type: string
          enum:
            - XML
            - JSON
            - NOT_USED
    TestMappingResponse:
      type: object
      properties:
        mappedFileContent:
          type: string
    TestParsingRequest:
      type: object
      required:
        - inputFile
        - fileFormat
        - ediType
      properties:
        inputFile:
          $ref: '#/components/schemas/S3Location'
        fileFormat:
          type: string
          enum:
            - XML
            - JSON
            - NOT_USED
        ediType:
          $ref: '#/components/schemas/EdiType'
    TestParsingResponse:
      type: object
      properties:
        parsedFileContent:
          type: string
    ConversionSource:
      type: object
      properties:
        fileFormat:
          type: string
          enum:
            - JSON
            - XML
        inputFile:
          type: object
          properties:
            fileContent:
              type: string
    ConversionTarget:
      type: object
      properties:
        fileFormat:
          type: string
          enum:
            - X12
        formatDetails:
          type: object
          properties:
            x12:
              $ref: '#/components/schemas/X12Details'
        outputSampleFile:
          type: object
          properties:
            fileContent:
              type: string
    TestConversionRequest:
      type: object
      required:
        - source
        - target
      properties:
        source:
          $ref: '#/components/schemas/ConversionSource'
        target:
          $ref: '#/components/schemas/ConversionTarget'
    TestConversionResponse:
      type: object
      properties:
        convertedFileContent:
          type: string
        validationMessages:
          type: array
          items:
            type: string
    ListTagsForResourceResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    TagResourceRequest:
      type: object
      required:
        - tags
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  responses:
    ValidationException:
      description: The input fails to satisfy the constraints specified by an AWS service.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AccessDeniedException:
      description: You do not have sufficient access to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ConflictException:
      description: A conflict exception is thrown when you attempt to delete a resource that is currently in use.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ResourceNotFoundException:
      description: Occurs when the requested resource does not exist, or cannot be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ThrottlingException:
      description: The request was denied due to request throttling.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerException:
      description: This exception is thrown when an error occurs in the AWS B2B Data Interchange service.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    aws_iam:
      type: apiKey
      in: header
      name: Authorization
      description: AWS Signature Version 4 authentication
security:
  - aws_iam: []
